 *
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
  
 #header{
    width: 100vw;
    height: 100vh;
    background-image: url('https://wallpaperaccess.com/full/1700233.jpg');
   
    background-position: center;
    background-size: cover;
 }
 .overlay{
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
    background: rgba(0, 0, 0, 0.5);
 }
  
 .container{
    max-width: 100%;
    margin: auto;
    height: 100vh;
 }
 nav{
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
 }
 nav .logo{
    font-size: 20px;
    padding-left: 40px;
 }
 nav ul{
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 20px;
 }
 nav li a:hover{
color:  red;
 }
 a{
    text-decoration: none;
    color: white;
 }
 .header-content  h1{
    color: white;
    font-size: 45px;
     
    padding: 40px 30px;
 }
 .header-content   input{
    width: 400px;
    height: 35px;
    color: black;
   margin-left: 40px;
 }
 .header-content section{
    display: flex;
    justify-content: space-around;
    padding: 225px 20px 10px 20px;
    color: white;
    font-size: 20px;
 }
 .header-content button{
     border: none;
     cursor:pointer ;
     transition: all 0.3s ease; 
    border-radius: 20px;
    font-weight: bold;
    width: 115px;
 }
 .header-content button:hover{
   background-color:rgb(106, 152, 189);
 }
  #bg2{
   background: rgba(132, 129, 129, 0.5); 
   
  }
   
 
  #main{
   display: flex;
   margin-top: 120px;
   gap: 16px;
   justify-content: center;
    
    
  }
  
  .main-content{
    width: 100%;
  }
  .main img{
max-width: 100%;
  }
  #bg2 h1{
   font-size: 45px;
   padding: 40px 40px 0px;
    
  }
  .main-content h3{
   font-size: 30px;
   padding: 25px;
  }
  .main-content ul li{
   font-size:20px;
   list-style: square;
  }
  .container2{
   max-width: 1200px;
   margin: auto;
   height:500px;
}
 
  #plans{
   display: flex;
   margin-top: 120px;
   gap: 25px;
   justify-content: center;
  }
  .plan-content{
   width: 100%;
  }
  .plan img{
   max-width: 100%;
  }
  .plan-content p{
   padding: 10px;
  }
  .plan-content h1{
   font-size: 30px;
   padding: 35px;
   margin-top: -68px;
  }

   